html {
  font-family: Roboto, sans-serif !important;
 color: #3d3d3d!important;
 background-color: #FAFAFA!important;
}

.usuario-icon{
  color: #1E88E5;
}

.footer-custom{
  padding-top: 20px;
padding-bottom: 0px;
}

.navbar {
    border-radius: 0;
    height: auto;
    background-color: #FFC107;
}

.navbar-brand {
    height: auto;
    padding: 15px;
}

.container-conteudo{
  width: 100%;
  height: 1920px;
}

.nav-custom{
  background-color: #FFC107;
}

.navbar-default .navbar-toggle {
  border-color: transparent; /* Removes border color */

}

.navbar-default  .navbar-toggle:hover, .navbar-toggle:active  {
  background-color: #FFC107; /* Changes toggle color on hover */
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #3d3d3d; /* Changes regular toggle color */
}





footer {
    color: #3d3d3d;
}

footer h3 {
    margin-bottom: 15px;
}

footer .footer-above {
    padding-top: 15px;
    background-color: #FFC107;
}

footer .footer-col {
    margin-bottom: 25px;
}

footer .footer-below {
    padding: 15px 0;
    background-color: #FFCA28;
}
