<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="../static/bower_components/angular/angular.min.js"></script>
    <script src="../static/bower_components/angular-datetime/dist/datetime.js"></script>


    <script src="../static/js/Usuario/CadastroUsuario.js"></script>
</head>
<body ng-app="login" ng-controller="CadastroController">

<label ng-click="test()">asdas</label>
    <input type="text" ng-model="data_nascimento" datetime="dd/MM/yyyy">
    <button ng-click="test()">Click me</button>
</body>
</html>